@import './tailwind.css';
/* In globals.css */
/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */

/* Your custom styles */
html {
  scroll-behavior: smooth;
}

/* Base styles */
body {
  @apply bg-gray-900 text-white font-sans; /* Default light mode */
}

section {
  @apply py-16 px-4 bg-gray-900 text-white;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}

a {
  @apply text-blue-400 hover:text-blue-300;
}

body.dark-mode {
  @apply bg-gray-900 text-white;
}

/* Dark Mode Styles */
body.dark {
  @apply bg-gray-900 text-white;
}

/* Header Styles */
header {
  @apply shadow-md;
}

/* About section styles */
#about {
  @apply bg-gray-900 text-white;
}

#about img {
  @apply rounded-full w-80 h-80 object-cover;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  color: #fff; /* Or adjust for dark mode */
}

.skill-item p {
  margin-top: 10px;
  font-size: 14px;
}